header{
    text-align: center; background: blue;color: white;font-family: ;
}
a{
    color: white;
}
h2{
    color: blue;
}
footer{
    text-align: center; background: blue;color: white;
}
button{
    background: blue;color: white;
}